<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário de inserção de Notícia</title>
</head>
<body>
    <h1>Formulário de Inserção de Notícia</h1> <br>
    <form action="noticia/add" method="post">
        <label>Título..</label>
        <input type="text" name="titulo" placeholder="Título"> <br>
        <label>Notícia</label>
        <textarea id="noticia" name="noticia" rows="10" cols="50"></textarea> <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>