<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Portal de Notícias</h1>
    <% for(var i = 0; i < noticia.length; i++) { %>
      <a href="noticia"> <h1> <%= noticia[i].titulo %> </h1> </a>
        <li> <%= noticia[i].noticia %> </li>
        <% } %>
</body>
</html>